body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

nav {
  display: flex;
  padding: 0;
  background: #ff6701;
}

nav section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav section h1 {
  margin: 15px auto;
  color: white;
}

nav button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #8a03b0;
  padding: 7px 12px;
}
nav button h2 {
  margin: 0;
  padding: 0;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 2rem;
}

.story-excerpt {
  padding: 0.5rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
  margin-bottom: 20px;
}
